@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: #F0ACE0;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
html {
  overflow: hidden;
}
